$black: #000;
$light-black: #444343;
$text-color: rgb(255 255 255 / 75%);
$gold: #bf9e4b;
$medium-gold: #b79a00;
$light-gold-v1: #e1cc7b;
$light-gold-v2: #f2d77d;
$scroll-opacity-color: rgb(242 215 125 / 10%);
$scroll-opacity-zero-color: rgb(242 215 125 / 0);
$grey: #aaa;
$light-grey: #e9ecef;
$white: #fff;
$blue: #45b2ef;
$blue2: #e6effd;
$green: #018144;
$green2: #012c01;
$DarkBlue: #2e2a7e;
$red: #e42626;
$transition: 0.5s;
$rouze:#9661ca;
$rouze2:#4d0496;



// ============= new =============
$scroll-clr: #29abe2;
$select-clr:white;
$select-bg-clr: #E3010C;

$primary: #29abe2;
$primary1: #29abe2;
$primary1b: #29abe2;
$primary2: #4d0496;
$primary2b:#389EC1;
$primary2c: #07B3B4;
$primary3:#E3010C;
$primary3a: #29abe2;
$primary3b: #4b4f58;
$primary3c: #62615c;
$primary3d: #1E1810;
$primary4: #131313;
$primary5: rgb(236, 236, 236);
$primary6: white;

$br0: #ffffff;
$br1: #F3F3F3;
$br2: #e6e6e6;
$br3: #9E9E9E;
$br4: #616161;
$br5: #1a1a1a;
$br6: #000000;


$c1: #292627;


$gr1:#D5B375;
$gr2:#d84d1f;
$gr3:#7c4d3c;

$grey: #00000010; 
$md-grey: #00000050; 
$dark-grey: #00000060; 



$line: #0B5285;
$shadow1: 0px 1px 4px 0px rgba(51, 43, 43, 0.2);


:root {
  // --color-bg1: rgb(108, 0, 162);
  --color-bg1: rgb(0, 0, 0);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 18, 113, 255;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;


  // --angle: 0s;
  --spark: 5s;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}



/*
  MIXIN 
  -----------------------------------------
*/
@mixin defaultLinearGradient() {
  background: -webkit-linear-gradient(to right, $primary);
  background: -moz--linear-gradient(to right, $primary);
  background: -o--linear-gradient(to right, $primary);
  background: linear-gradient(to right, $primary);
}

@mixin linearGradient($color1, $color2) {
  background: -webkit-linear-gradient(to right, $color1, $color2);
  background: -moz--linear-gradient(to right, $color1, $color2);
  background: -o--linear-gradient(to right, $color1, $color2);
  background: linear-gradient(to right, $color1, $color2);
}

@mixin transition($all, $seconds, $pattern) {
  -webkit-transition: $all $seconds $pattern;
  -moz-transition: $all $seconds $pattern;
  -o-transition: $all $seconds $pattern;
  transition: $all $seconds $pattern;
}
